---
layout: personal
title: Projects
---

<nav class="link-to-home">
  <a href="/"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<strong>Antriksh</strong>Yadav</a>
</nav>

<nav class="link-to-blog">
  <a href="/code"><i class="fa fa-angle-left"></i>&nbsp;<strong>code.Antrikshy</strong>&nbsp;<i class="fa fa-angle-right"></i></a>
  <br/>
  <a href="/film"><i class="fa fa-angle-left"></i>&nbsp;<strong>film.Antrikshy</strong>&nbsp;<i class="fa fa-angle-right"></i></a>
</nav>

<section class="projects-intro">
  <div class="projects-intro-content">
    <h1 class="projects-greeting">Projects.</h1>
  </div>
</section>

<section class="projects-list">
  <div class="projects-list-content">
    {% for project in site.data.projects %}
      {% if project.featured == true %}
        <div class="row" data-equalizer>
          <div class="large-10 columns project-box" data-equalizer-watch>
            <h2 class="project-name">{{ project.name }}&nbsp;
            </h2>
            <p class="project-description">{{ project.description }}</p>
            <br/>
          </div>
          <div class="large-2 columns project-links" data-equalizer-watch>
            {% if project.repository %}<a href="{{ project.repository }}"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
            {% if project.weblink %} <a href="{{ project.weblink }}"><i class="fa fa-external-link-square fa-2x"></i></a>{% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <hr class="projects-divider">
    {% for project in site.data.projects %}
      {% if project.featured == false %}
        <div class="row" data-equalizer>
          <div class="large-10 columns project-box" data-equalizer-watch>
            <h2 class="project-name">{{ project.name }}&nbsp;
            </h2>
            <p class="project-description">{{ project.description }}</p>
            <br/>
          </div>
          <div class="large-2 columns project-links" data-equalizer-watch>
            {% if project.repository %}<a href="{{ project.repository }}"><i class="fa fa-github-square fa-2x"></i></a>{% endif %}
            {% if project.weblink %} <a href="{{ project.weblink }}"><i class="fa fa-external-link-square fa-2x"></i></a>{% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
