---
layout: personal
title: Home
---

<section class="site-intro">
  <div class="site-intro-content home-page-section-content">
    <h1 class="intro-greeting">Hi, I'm Antriksh.</h1>
    <hr>
    <span class="intro-text intro-text-1"></span><br/><br class="hide-for-large-up"/>
    <span class="intro-text intro-text-2"></span><br/><br class="hide-for-large-up"/>
    <span class="intro-text intro-text-3"></span><br/><br class="hide-for-large-up"/>
    <div class="row scroll-prompter-row show-for-large-up">
      <a href="#" class="scroll-prompter"><i class="fa fa-chevron-down"></i></a>
    </div>
  </div>
</section>
<section class="logos">
  
</section>
<section class="featured-projects">
  <div class="featured-projects-content home-page-section-content">
    <h1 class="featured-projects-title">Featured Projects</h1>
    <hr>
    {% for project in site.data.projects %}
      {% if project.featured == true %}
        <div class="row">
          <div class="medium-12 large-10">
            <div class="project-box">
              <h2 class="project-name">{{ project.name }}</h2>
              <p class="project-description">{{ project.description }}</p>
            </div>
            <br/>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
