---
layout: personal
title: Home
---

<section class="site-intro">
  <div class="site-intro-content home-page-section-content">
    <h1 class="intro-greeting">Hi, I'm Antriksh.</h1>
    <hr>
    <div> <!-- Anonymous div helps remove this entire block -->
      <span class="intro-text intro-text-1"></span><br/><br class="hide-for-medium-up"/>
      <span class="intro-text intro-text-2"></span><br/><br class="hide-for-medium-up"/>
      <span class="intro-text intro-text-3"></span><br/><br class="hide-for-medium-up"/>
    </div>
    <span class="intro-text intro-text-1-skipped"></span><br/><br class="hide-for-medium-up"/>
    <span class="intro-text intro-text-2-skipped"></span><br/><br class="hide-for-medium-up"/>
    <span class="intro-text intro-text-3-skipped"></span><br/><br class="hide-for-medium-up"/>
    <div class="scroll-prompter-row show-for-large-up">
      <span class="scroll-prompter"><a><i class="fa fa-chevron-circle-down"></i></a></span>
    </div>
  </div>
</section>

<section class="skill-logos">
  <div class="home-page-section-content">
    <h1>Skills</h1>
    <hr>
    <div class="row skill-logo-row">
      <a href="https://www.python.org"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/python-logo.png"/></a>
      <span aria-haspopup="true" data-tooltip class="has-tip" title="Ruby"><a href="https://www.ruby-lang.org"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/ruby-logo.png"/></a></span>
      <a href="http://www.java.com"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/java-logo.png"/></a>
      <a href="https://reactjs.org"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/react-logo.png"/></a>
      <a href="http://jquery.com"><span aria-haspopup="true" data-tooltip class="has-tip" title="jQuery"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/jquery-logo.png"/></span></a>
      <span aria-haspopup="true" data-tooltip class="has-tip" title="HTML"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/html-logo.png"/></span>
      <span aria-haspopup="true" data-tooltip class="has-tip" title="CSS"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/css-logo.png"/></span>
      <a href="https://git-scm.com"><span aria-haspopup="true" data-tooltip class="has-tip" title="Git"><img class="skill-logo-img logo-img" src="/assets/personal-site-assets/git-logo.png"/></span></a>
    </div>
    <div class="row skill-logo-row">
      <p>Flask &bull; Rails &bull; Unix &bull; Sass &bull; HTTP/REST</p>
      <p>Service-oriented design &bull; UX design &bull; Networking</p>
    </div>
  </div>
</section>

<section class="blog-link">
  <a href="/code"><i class="fa fa-angle-left"></i>&nbsp;code.Antrikshy&nbsp;<i class="fa fa-angle-right"></i></a>
</section>

<section class="employer-logos">
  <div class="home-page-section-content">
    <h1>Worked With&nbsp;&nbsp;&nbsp;<small><a href="/resume">View resume&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></small></h1>
    <hr>
    <div class="row employer-logo-row">
      <a href="http://www.learningequality.org"><img class="employer-logo-img logo-img" src="/assets/personal-site-assets/fle-logo.png"/></a>
      <a href="http://www.amazon.com"><img class="employer-logo-img logo-img" src="/assets/personal-site-assets/amazon-logo.png"/></a>
    </div>
  </div>
</section>

<section class="featured-projects">
  <div class="featured-projects-content home-page-section-content">
    <h1 class="featured-projects-title">Featured Projects&nbsp;&nbsp;&nbsp;<small><a href="/projects">See all&nbsp;&nbsp;<i class="fa fa-angle-right"></i></a></small></h1>
    <hr>
    {% for project in site.data.projects %}
      {% if project.featured == true %}
        <div class="row">
          <div class="xlarge-12 columns">
            <div class="featured-project-box">
              <h2 class="project-name">{{ project.name }}&nbsp;
                <br class="hide-for-medium-up" />
                <small>
                  Type:&nbsp;{{ project.type }}
                  {% if project.repository %}| <a href="{{ project.repository }}">Repo</a>{% endif %}
                  {% if project.weblink %}| <a href="{{ project.weblink }}">Link</a>{% endif %}
                </small>
              </h2>
              <p class="project-description">{{ project.description }}</p>
            </div>
            <br/>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
