---
---

$main-font: "Merriweather", serif;

$main-color: #515151;
$main-back-color: #f4f5f5;
$site-intro-color: #fff;
$project-box-back-color: #614385;
// $site-intro-back-fromColor: #5B335C;
// $site-intro-back-toColor: #45305F;
$site-intro-back-fromColor: #271B36;
$site-intro-back-toColor: #412442;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

@mixin animation($name) {
  -webkit-animation: #{$name};
  -moz-animation: #{$name};
  -ms-animation: #{$name};
  -o-animation: #{$name};
  animation: #{$name};      
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
}

@mixin font-size-mq($min-width, $font-size) {
  @media screen and (min-width: $min-width) {
    html { font-size: $font-size; }
  }
}

/*
 * General
 */

html, body {
  color: $main-color;
  background-color: $main-back-color;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.5;
}

@include font-size-mq(500px, 12px);
@include font-size-mq(800px, 14px);
@include font-size-mq(1000px, 16px);

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  font-family: $main-font;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.4rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

hr {
  border-color: $main-color;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

small {
  font-size: 85%;
}

ul {
  margin-left: none !important;
}

/*
 * Sidebar
 */

.right-off-canvas-toggle {
  color: $site-intro-color;
  font-size: 2rem;
  padding: 10px 25px;

  @include transition(all, 0.6s, ease-out);

  &:hover {
    color: $site-intro-color;
    opacity: 0.5;
  }
}

#sidebar {
  padding: 10vh 0;
  text-align: center;
  box-shadow: inset 6px 0 10px 1px #333; 
  background-color: $main-color;

  ul {
    list-style: none;
    margin-left: 0;

    li a {
      color: $site-intro-color;
      font-size: 2rem;
      display: block;
      margin-bottom: 3vh;

      &:hover {
        background-color: $site-intro-back-toColor;
      }
    }
  }
}

.move-left .exit-off-canvas {
  box-shadow: none;
  background: none;
}

/*
 * Homepage
 */

.site-intro {
  height: 100vh;
  color: $site-intro-color;
  font-size: 1.4rem;
  @include linear-gradient($site-intro-back-toColor, $site-intro-back-fromColor);

  hr {
    border-color: $site-intro-color;
  }

  .site-intro-content {
    padding: 20vmin 10vmin;
  }

  .scroll-prompter-row {
    margin-top: 12rem;
    text-align: center;
    @include animation(arrowBounce 0.7s infinite);
  }

  .scroll-prompter {
    padding: 0;
    font-size: 2.2rem;
    z-index: 100;
    a {
      color: $site-intro-color;
    }
  }
}

.home-page-section-content {
  padding: 5vmin 10vmin;
}

.skill-logos {
  height: 100vh;

  .skill-logo-img {
    margin: 1rem 0.5rem;
    height: 50px;
  }

  .skill-logo-row {
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;

    p {
      font-size: 1.4rem;
    }
  }

  .skill-logo-col {
    text-align: center;
  }

  .has-tip {
    border-bottom: none;
    cursor: default;
  }
}

.employer-logos {
  min-height: 50vh;

  .employer-logo-img {
    margin: 2.2rem 2rem;
    width: 20rem;
  }

  .employer-logo-row {
    text-align: center;
  }
}

.featured-projects {
  height: auto;

  hr {
    margin-bottom: 3rem;
  }
}

.project-box {
  @include transition(box-shadow, 0.6s, ease-out);

  h2.project-name {
    font-size: 1.5rem;
  }

  small {
    color: inherit;
  }

  padding: 1rem;
  text-align: center;
  background-color: $project-box-back-color;
  color: $site-intro-color;

  &:hover {
    box-shadow: 0 6px 10px 1px $main-color;
  }
}

/* Scroll prompter arrow bounce */
@include keyframes(arrowBounce) {
  0% { margin-top: 28vmin; }
  50% { margin-top: 25vmin; }
  100% { margin-top: 28vmin; }
}

/* Blinking typed.js cursor */
.typed-cursor{
  opacity: 1;
  @include animation(blink 0.7s infinite);
}

@include keyframes(blink) {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*
 * Projects
 */

.projects-intro {
  height: 80vh;

  .projects-intro-content {
    padding: 20vmin 10vmin;
  }

}
