html, body {
  color: #515151;
  background-color: #f4f5f5;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  font-family: "Merriweather", serif;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.site-intro {
  height: 100vh;
  background-color: #252525;
  color: #d5d5d5;
  font-size: 1.4rem;
}

.site-intro-content {
  padding: 27vmin 10vmin;
}

.scroll-prompter {
  position: fixed;
  padding: 0;
  bottom: 5vh;
  left: 50vw;
  font-size: 2.2rem;
  z-index: 100;
  -webkit-animation: bounceOnce 0.7s infinite;
  -moz-animation: bounceOnce 0.7s infinite;
  animation: bounceOnce 0.7s infinite;
}

/* Scroll prompter arrow bounce */
@keyframes bounceOnce{
  0% { padding-bottom: 0; }
  50% { padding-bottom: 10px; }
  100% { padding-bottom: 0; }
}
@-webkit-keyframes bounceOnce{
  0% { padding-bottom: 0; }
  50% { padding-bottom: 10px; }
  100% { padding-bottom: 0; }
}
@-moz-keyframes bounceOnce{
  0% { padding-bottom: 0; }
  50% { padding-bottom: 10px; }
  100% { padding-bottom: 0; }
}

/* Blinking typed.js cursor */
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
