---
---

$main-font: "Poppins", sans-serif;
$heading-font: "Bitter", serif;

$main-color: #515151;
$link-color: #3C1642;
$link-hover-color: #614385;

$main-back-color: #f4f5f5;
$site-intro-color: #fff;
$featured-project-box-back-color: #614385;
// $site-intro-back-fromColor: #5B335C;
// $site-intro-back-toColor: #45305F;
$site-intro-back-fromColor: #4E1D55;
$site-intro-back-toColor: #3C1642;

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @-o-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

@mixin animation($name) {
  -webkit-animation: #{$name};
  -moz-animation: #{$name};
  -ms-animation: #{$name};
  -o-animation: #{$name};
  animation: #{$name};      
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
}

@mixin font-size-mq($min-width, $font-size) {
  @media screen and (min-width: $min-width) {
    html { font-size: $font-size; }
  }
}

/*
 * General
 */

html, body {
  color: $main-color;
  background-color: $main-back-color;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  font-family: $main-font;
  font-size: 17px;
  line-height: 1.5;
}

@include font-size-mq(500px, 13px);
@include font-size-mq(800px, 14px);
@include font-size-mq(1000px, 16px);

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  font-family: $heading-font;
  color: inherit;
  text-rendering: optimizeLegibility;
}
h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.4rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

hr {
  border-color: $main-color;
}

a {
  color: $link-color;
  @include transition(all, 0.3s, ease-out);

  &:hover {
    color: $link-hover-color;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;

  a {
    text-decoration: underline;
  }
}

small {
  font-size: 85%;
}

ul {
  margin-left: none !important;
}

.link-to-home {
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 1.2rem;
}

.link-to-blog {
  position: absolute;
  top: 5vh;
  right: 10vw;
  font-size: 1.2rem;
}

.text-indent {
  text-indent: 50px;
}

/*
 * Sidebar
 */

.right-off-canvas-toggle {
  color: $link-color;
  font-size: 2rem;
  position: absolute;
  z-index: 100;
  top: 4vh;
  right: 4vw;

  @include transition(all, 0.2s, ease-out);

  &:hover {
    color: $main-color;
  }
}

#sidebar {
  padding: 10vh 0;
  text-align: center;
  box-shadow: inset 6px 0 10px 1px #333; 
  background-color: $main-color;

  ul {
    list-style: none;
    margin-left: 0;

    li a {
      color: $site-intro-color;
      font-size: 2rem;
      display: block;
      padding: 1.5vh 0;

      &:hover {
        background-color: $site-intro-back-toColor;
      }
    }
  }
}

.move-left .exit-off-canvas {
  box-shadow: none;
  background: none;
}

/*
 * Homepage
 */

.site-intro {
  height: 100vh;
  color: $site-intro-color;
  font-size: 1.4rem;
  position: relative;
  @include linear-gradient($site-intro-back-toColor, $site-intro-back-fromColor);

  a {
    color: $site-intro-color;
  }

  hr {
    border-color: $site-intro-color;
  }

  .site-intro-content {
    padding: 20vmin 10vmin;
  }

  .scroll-prompter-row {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 3rem;
    text-align: center;
    @include animation(arrowBounce 0.7s infinite);
  }

  .scroll-prompter {
    padding: 0;
    display: block;
    font-size: 2.7rem;
    z-index: 100;
    a {
      color: $site-intro-color;
    }
  }
}

.home-page-section-content {
  padding: 5vmin 10vmin;
}

.skill-logos {
  height: 100vh;

  .skill-logo-img {
    margin: 1rem 0.5rem;
    height: 50px;
  }

  .skill-logo-row {
    text-align: center;
    padding: 2rem 0;
    font-size: 3rem;

    p {
      font-size: 1.4rem;
    }
  }

  .skill-logo-col {
    text-align: center;
  }

  .has-tip {
    border-bottom: none;
    cursor: default;
  }
}

.employer-logos {

  .employer-logo-img {
    margin: 2.2rem 2rem;
    width: 20rem;
  }

  .employer-logo-row {
    text-align: center;
  }
}

.featured-projects {
  height: auto;

  hr {
    margin-bottom: 3rem;
  }
}

.featured-project-box {
  @include transition(box-shadow, 0.3s, ease-out);

  a:hover {
    color: #fff;
  }

  h2.project-name {
    font-size: 1.5rem;
  }

  small {
    color: inherit;
  }

  padding: 1rem;
  text-align: center;
  background-color: $featured-project-box-back-color;
  color: $site-intro-color;

  &:hover {
    box-shadow: 0 6px 10px 1px $main-color;
  }
}

.blog-link {
  a {
    color: $site-intro-color;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
  }
  background-color: $site-intro-back-fromColor;
  height: 30vh;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 10vh;
}

/* Scroll prompter arrow bounce */
@include keyframes(arrowBounce) {
  0% { bottom: 3rem; }
  50% { bottom: 4rem; }
  100% { bottom: 3rem; }
}

/* Blinking typed.js cursor */
.typed-cursor{
  opacity: 1;
  @include animation(blink 0.7s infinite);
}

@include keyframes(blink) {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/*
 * Projects
 */

.projects-intro {
  .projects-intro-content {
    padding: 10vh 5vw;
    padding-top: 20vh;
  }
}

.projects-list {
  width: 75vw;
  padding-bottom: 10px;
  margin-left: 5vw;
  background-color: rgba(0,0,0,0.1);

  .projects-list-content {
    padding: 30px auto;
    margin-bottom: 50px;

    .project-box {
      .project-description {
        margin: 0;
      }
    }

    .projects-divider {
      margin: 30px 20vh;
    }

    .project-links {
      text-align: center;
    }
  }
}

/*
 * About
 */

.about-container {
  .about-content {
    padding: 10vh 5vw;
    padding-top: 20vh;
    margin-right: 5vw;

    .about-greeting {
      margin-bottom: 4rem;
    }

    .about-longform {
      width: 60vw;
      font-size: 1.2rem;
    }
  }
}

/*
 * Resume
 */

.resume-container {
  .resume-content {
    padding: 10vh 5vw;
    padding-top: 20vh;
    margin-right: 5vw;

    .resume-greeting {
      margin-bottom: 2rem;
    }

    #resume-embed {
      height: 140rem;
      width: 53rem;
      max-width: 90vw;
      border: none;
      box-shadow: 0 0 5px $main-color;
    }
  }
}

/*
 * Error page
 */

.error-page-main {
  height: 100vh;
  padding: 40vh 5vw;
  padding-right: 30vw;
}

@media (min-width: 1000px) {
  .project-links {
    .fa {
      margin: 0.5rem;
      margin-top: 5rem;
    }
  }
}

@media (max-width: 1000px) {
  .projects-list {
    width: auto;
    margin: auto 5vw;
  }

  .project-links {
    .fa {
      margin-right: 5px;   
      margin-bottom: 20px;
    }
  }

  .about-container {
    .about-content {
      .about-longform {
        width: 90vw;
      }
    }
  }

  .footer {
    width: 90vw;
  }
}

@media (max-width: 520px) {
  html, body {
    font-size: 14px;
  }

  .text-indent {
    text-indent: 30px;
  }

  .skill-logos {
    height: 100vh;

    .skill-logo-img {
      margin: 0.5rem 0.5rem;
      height: 30px;
    }

    .skill-logo-row {
      padding: 0.2rem 0;
      font-size: 0.5rem;
    }
  }

  .employer-logos {
    .employer-logo-img {
      margin: 2rem 0;
    }
  }
}
