<div class="masthead blog-film">
  <nav class="link-to-home">
    <a href="/"><i class="fa fa-angle-left"></i>&nbsp;<strong>Antriksh</strong>Yadav</a>
  </nav>
  <nav class="masthead-links">
    {% for page in site.film.masthead_pages %}
      <small><a href="{{ page[1] }}">{{ page[0] }}</a></small>
    {% endfor %}
    <br/>
    <a href="/code"><strong>code</strong>.Antrikshy&nbsp;<i class="fa fa-angle-right"></i></a>
  </nav>
  <h3 class="masthead-title">
    <a href="/film">{{ site.film.title }}</a> | 
    <small>{{ site.film.tagline }}</small>
  </h3>
</div>