<div class="masthead blog-film">
  <nav class="link-to-home">
    <a href="/"><i class="fa fa-angle-left"></i>&nbsp;<strong>Antriksh</strong>Yadav</a>
  </nav>
  <nav class="masthead-links">
    <small><a href="/film/atom.xml">Feed</a></small>&nbsp;&nbsp;&nbsp;
    <a href="/code"><strong>code</strong>.Antrikshy&nbsp;<i class="fa fa-angle-right"></i></a>
  </nav>
  <h3 class="masthead-title">
    <a href="/film">{{ site.film.title }}</a> | 
    <small>{{ site.film.tagline }}</small>
  </h3>
</div>