<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="masthead">
      <nav class="link-to-home">
        <a href="/"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;&nbsp;<strong>Antriksh</strong>Yadav</a>
      </nav>
      <h3 class="masthead-title">
        <a href="/blog" title="Blog">{{ site.title }}</a> | 
        <small>{{ site.tagline }}</small>
      </h3>
      <nav class="masthead-links">
      {% for page in site.blog_masthead_pages %}
        &nbsp;
        <small><a href="{{ page[1] }}">{{ page[0] }}</a></small>
        &nbsp;
      {% endfor %}
      </nav>
    </div>
    <div class="container content">

      {{ content }}

    <div class="footer">
      <p>
        &copy; {{ site.time | date: '%Y' }} Antriksh Yadav. All rights reserved.
        <span style="float:right;"><a href="http://twitter.com/Antrikshy">@Antrikshy</a></span><br/>
        <small>You are permitted to reuse any code snippets in personal or commercial projects without attribution.</small><br/>
        <small><a href="/about/this-site">About this website</a></small>
      </p>
    </div>
  </div>

  </body>
</html>
