<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include personal_head.html %}

  <body>
    <div class="content off-canvas-wrap" data-offcanvas>
      <main class="inner-wrap">
        <a class="right-off-canvas-toggle right" href="#sidebar"
          {% if page.url == '/' %}
            {% comment %} Toggle becomes white on homepage (because dark background) {% endcomment %}
            style="color: #fff;" 
          {% endif %}>
          <span>&#9776;</span>
        </a>
        <aside class="right-off-canvas-menu" id="sidebar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/resume">Resume</a></li>
            <li style="cursor: default;">Just some padding</li>
            <li style="cursor: default;">Nothing to see here</li>
            <li><a href="/blog">Blog</a></li>
          </ul>
        </aside>

        {{ content }}

        <a class="exit-off-canvas"></a>
      </main>
      <div class="row footer">
        <hr/>
        <p>
          &copy; {{ site.time | date: '%Y' }} Antriksh Yadav. All rights reserved.
          <span style="float:right;"><a href="http://twitter.com/Antrikshy">@Antrikshy</a></span><br/>
          <small>But you can feel free to reuse any code snippets in personal or commercial projects.</small><br/>
          <small><a href="/about/this-site">About this website</a></small>
        </p>
      </div>
    </div>
  </body>
</html>
